@mixin btn-color($background, $text) {
   background-color: $background;
   color: $text;
   border-bottom: 2px solid darken($background, 20);
   &:hover, &:focus {
      background-color: darken($background, 10);
   }

   &.disabled {
      background-color: lighten($background-inverse, 50);
      color: rgba($text-inverse, 0.8);
      border-bottom: 2px solid darken(lighten($background-inverse, 50), 20);
      cursor: not-allowed;
   }

   &.bordered {
      background-color: rgba($background, 0.1);
      border: 1px solid $background;
      color: $background;
      @include box-shadow(none);

      &:hover, &:focus {
         background-color: $background;
         color: $text;
      }

      &.disabled {
         background-color: rgba(lighten($background-inverse, 50), 0.1);
         border: 1px solid lighten($background-inverse, 50);
         color: rgba(lighten($background-inverse, 50), 0.8);
         cursor: not-allowed;
      }
   }

}

.btn {
   @include box-sizing(content-box);
   @include box-shadow(0 0 2px 0 rgba($background-inverse, 0.75));
   
   display: inline-block;
   font-weight: 600;
   height: $height-2xl;
   padding: 0 16px;
   margin: 8px 16px;
   line-height: $height-2xl;
   text-align: center;
   border-radius: $default-border-radius;
   border: 1px solid transparent;
   cursor: pointer;
   white-space: nowrap;
   &.slim {
      height: $height-l;
      line-height: $height-l;
   }

   &.primary {
      @include btn-color($primary, $text-on-color);
   }
   &.secondary {
      @include btn-color($secondary, $text-on-color);
   }
   &.tertiary {
      @include btn-color($tertiary, $text-on-color);
   }
   &.error {
      @include btn-color($error, $text-on-color);
   }
   &.success {
      @include btn-color($success, $text-on-color);
   }
   &.inverse-primary {
      @include btn-color($text-on-color, $primary);
   }
   &.inverse-secondary {
      @include btn-color($text-on-color, $secondary);
   }
   &.inverse-tertiary {
      @include btn-color($text-on-color, $tertiary);
   }
   &.inverse-error {
     @include btn-color($text-on-color, $error);
   }
   &.inverse-success {
     @include btn-color($text-on-color, $success);
   }
}