@mixin btn-color($background, $text) {
   background-color: $background;
      color: $text;
      &:hover, &:focus {
         background-color: darken($background, 10);
      }

      &.bordered {
         background-color: transparent;
         border: 1px solid $background;
         color: $background;
         @include box-shadow(none);

         &:hover, &:focus {
            background-color: $background;
            color: $text;
         }
      }
}

.btn {
   @include box-sizing(content-box);
   @include box-shadow(0 0 2px 0 rgba(0, 0, 0, 0.14));
   
   display: inline-block;
   height: 48px;
   min-width: 118px;
   padding: 0 16px;
   margin: 0 16px;
   line-height: 48px;
   text-align: center;
   border-radius: $default-border-radius;
   border: 1px solid transparent;
   cursor: pointer;
   white-space: nowrap;
   &.slim {
      height: 36px;
      min-width: 78px;
      line-height: 36px;
   }

   &.primary {
      @include btn-color($primary, $light);
   }

   &.error {
      @include btn-color($error, $light);
   }
}