.card {
   border-radius: $default-border-radius;
   margin: 16px;
   padding: 16px;
   @include box-shadow(0 0 2px 0 rgba($dark, 0.75));
   &.with-hover:hover, &.with-hover:focus {
      @include box-shadow(0 0 4px 0 rgba($dark, 0.75));
   }
}