@mixin checkbox-size {
   width: 100%;
   height: $height-l;
   line-height: $height-l;
   padding-left: $height-l;
}

&.checkbox-input-wrapper > input[type="checkbox"] {
   display: none;
   & + label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      @include checkbox-size();
   }

   & + label::before {
      position: absolute;
      display: inline-block;
      content: '';
      text-align: center;
      height: $height-s;
      width: $height-s;
      left: 0;
      top: (($height-l - $height-s) / 2);
      border-radius: $default-border-radius;
      border: 1px solid $primary;
      background-color: transparent;
      background-position: center;
      background-size: cover;
   }

   &:checked + label::before {
      background-color: $primary;
      @include svg-icon("add", $text-on-color);
   }

   &.checkmark:checked + label::before {
      @include svg-icon("done", $text-on-color);
   }

   &:indeterminate + label::before {
      background-color: $primary;
      @include svg-icon("remove", $text-on-color);
   }

   &:disabled + label {
      color: rgba($text, 0.4);
   }
   &:disabled + label::before {
      border: 1px solid rgba($text, 0.4);
   }
}
