@mixin radio-size {
   width: 100%;
   height: $height-l;
   line-height: $height-l;
   padding-left: $height-l;
}

&.radio-input-wrapper > input[type="radio"].radio {
   display: none;
   
   & + label {
      display: inline-block;
      position: relative;
      cursor: pointer;
      @include radio-size();
   }

   & + label::before {
      position: absolute;
      display: inline-block;
      content: '';
      text-align: center;
      height: $height-s;
      width: $height-s;
      left: 0;
      top: (($height-l - $height-s) / 2);
      border-radius: ($height-s / 2);
      border: 1px solid $primary;
      background-color: transparent;
      background-position: center;
      background-size: cover;
   }

   &:checked + label::before {
      @include svg-icon("circle", $primary);
   }
   
   &:disabled + label {
      color: rgba($text, 0.4);
   }
   &:disabled + label::before {
      border: 1px solid rgba($text, 0.4);
   }
}