@import "../node_modules/normalize.css/normalize.css";

$light: #FFFFFF !default;
$dark: #262626 !default;
$primary: #4392F1 !default;
$error: #DC493A !default;
$data-viz-1: #63A37F !default;
$data-viz-2: #713E5A !default;
$data-viz-3: #EAC435 !default;
$data-viz-4: #FF6B35 !default;
$data-viz-5: #150578 !default;
$data-viz-6: #CFDEE7 !default;
$default-border-radius: 2px !default;

@mixin box-sizing($sizing) {
   -webkit-box-sizing: $sizing;
   -moz-box-sizing: $sizing;
   box-sizing: $sizing;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin box-shadow2($shadow1, $shadow2) {
   -webkit-box-shadow: $shadow1, $shadow2;
   -moz-box-shadow: $shadow1, $shadow2;
   box-shadow: $shadow1, $shadow2;
}

@mixin transition($transition) {
   -webkit-transition: $transition;
   -moz-transition: $transition;
   transition: $transition;
}

@import "./functions.scss";
@import "./icons.scss";

*,
*:before,
*:after {
   @include box-sizing(border-box);
   @include transition(all 200ms);
  font-family: 'Source Sans Pro', sans-serif;
}

@for $i from 1 through 6 {
   h#{$i} {
      font-family: 'Lato', sans-serif;
   }
}

body {
   max-width: 100vw;
   min-height: 100vh;
}

::selection {
   background: $primary;
   color: $light;
}

@prefix jaeff;

@import "./layouts/flex.scss";
@import "./layouts/grid.scss";

@import "./components/buttons.scss";
@import "./components/cards.scss";

.form-item {
   margin: 6px 0;
   position: relative;
   @import "./components/checkbox.scss";
   @import "./components/radiobutton.scss";
   @import "./components/inputs.scss";
}

@import "./components/tag.scss";