
html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}[hidden],template{display:none}

$background: #FFFFFF !default;
$background-inverse: #313638 !default;
$text: #313628 !default;
$text-inverse: #FFFFFF !default;
$text-on-color: #FFFFFF !default;

$primary: #4392F1 !default;
$secondary: #624CAB !default;
$tertiary: #5bc0eb !default;

$error: #DC493A !default;
$success: #44AF69 !default;

$data-viz-1: #63A37F !default;
$data-viz-2: #713E5A !default;
$data-viz-3: #EAC435 !default;
$data-viz-4: #FF6B35 !default;
$data-viz-5: #150578 !default;
$data-viz-6: #CFDEE7 !default;

$default-border-radius: 2px !default;

$height-2xs: 8px !default;
$height-xs: 12px !default;
$height-s: 18px !default;
$height-m: 24px !default;
$height-l: 36px !default;
$height-xl: 40px !default;
$height-2xl: 48px !default;

$screen-s: 480px !default;
$screen-m: 768px !default;
$screen-l: 1048px !default;
$screen-xl: 1440px !default;
$screen-s-max: calc($screen-m - 1);
$screen-m-max: calc($screen-l - 1);
$screen-l-max: calc($screen-xl - 1);

@import "./functions";
@import "./icons";

*,
*:before,
*:after {
   @include box-sizing(border-box);
   @include transition(all 200ms);
  font-family: 'Source Sans Pro', sans-serif;
}

input, button, select, textarea {
  outline: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
option:not(:checked) {
color: black; /* prevent <option>s from becoming transparent as well */
}

@for $i from 1 through 6 {
   h#{$i} {
      font-family: 'Lato', sans-serif;
   }
}

body {
   max-width: 100vw;
   min-height: 100vh;
}

::selection {
   background: $primary;
   color: $text-on-color;
}

.bg {
  background-color: $background;
}

.bg-inverse {
  background-color: $background-inverse;
}

.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-tertiary {
  background-color: $tertiary;
}

.bg-error {
  background-color: $error;
}

.bg-success {
  background-color: $success;
}

.text {
  color: $text;
}

.text-inverse {
  color: $text-inverse;
}

.text-on-color {
  color: $text-on-color;
}

.section {
  width: 100vw;
  padding: $height-xl;
  @media screen and (max-width: $screen-s-max) {
     padding: $height-s;
  }
  &.no-pad {
     padding: 0;
  }

  &.nearly-full-height {
     min-height: 80vh;
     @media screen and (max-height: $screen-m-max) {
        min-height: $screen-l-max;
     }
  }
  &.full-height {
     min-height: 100vh;
     @media screen and (max-height: $screen-m-max) {
        min-height: $screen-l-max;
     }
  }
  &.padded {
      padding: $height-xl 15%;
      @media screen and (max-width: $screen-m-max) {
          padding: $height-xl;
      }
  }
}

@import "./layouts/flex";
@import "./layouts/grid";

.form-item {
  margin: 6px 0;
  position: relative;
  width: 100%;

  & > label {
    display: inline-block;
    height: $height-s;
    width: 100%;
    line-height: $height-s;
    margin-bottom: 6px;
    font-weight: 600;
 }

  @import "./components/checkbox";
  @import "./components/dropdown";
  @import "./components/inputs";
  @import "./components/radiobutton";
  @import "./components/select";
}

@import "./components/buttons";
@import "./components/cards";
@import "./components/tables"; 
@import "./components/tag";